{BasedOnStyle: LLVM, IndentWidth: 4, UseTab: false, BreakBeforeBraces: Allman, AllowShortIfStatementsOnASingleLine: false, AlignAfterOpenBracket: true, AlignConsecutiveAssignments: true, IndentCaseLabels: true, ColumnLimit: 0, ReflowComments: false}
